
.user-authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  
.user-singup .user-login{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-singup .user-login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3c720f;
  }
  
  p{
    margin: 20px;
    color: rgb(194, 22, 22);
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .user-singup .user-login {
      max-width: 300px;
    }
  }
  