.Products {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.productMessage{
    color: green;
    text-align: center;
}
h1{
    color: green;
}
.Products h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
}

.common-form {
    display: flex;
    flex-direction: column;
}

.form-Input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.form-Input {
    min-height: 100px;
}

.form-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .Products {
        padding: 10px;
    }
    
    .form-Input,
    textarea.form-Input {
        font-size: 14px;
    }
}
